body {
  font-family: "Roboto";
  text-align: center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat";
  font-weight: 400;
  letter-spacing: 0.5px;
}

p {
  color: #8f8f8f;
}

/* Headings */

.big-heading {
  font-family: Poppins;
  font-size: 3rem;
  line-height: 1.5;
}

.section-heading {
  font-size: 3rem;
  line-height: 1.5;
}
nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

/* Containers */

.container-fluid {
  padding: 7% 15%;
}
.footer {
  text-align: center;
}

/* Sections */

.colored-section {
  background-image: linear-gradient(
    76.3deg,
    rgba(44, 62, 78, 1) 12.6%,
    rgba(69, 103, 131, 1) 82.8%
  );
  color: #fff;
}

.white-section {
  background-color: #fff;
}

/* Buttons */

.download-button {
  margin: 5% 3% 5% 0;
}

/* Title Section */

#title {
  background-color: #ff4c68;
  color: #fff;
  text-align: left;
}

#title .container-fluid {
  padding: 3% 15% 7%;
}

/* Title Image */

.title-image {
  width: 10%;
  transform: rotate(0);
  position: absolute;
  right: 20%;
}




#testimonials {
  background-color: #ef8172;
  border-radius: 10px;
}

.testimonial-text {
  line-height: 1.5;
  color: aliceblue;
  font-style: italic;
  font-weight: 200;
  font-size: larger;
}

.testimonial-image {
  width: 10%;
  border-radius: 50%;
   margin-top: 10px;
  margin-bottom: 20px;
}

.profile {
  display: flex;
  align-items: center;
  justify-content: center;
}
.profile-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
a {
  text-decoration: none;
  color: white;
}
.icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.icons i {
  font-size: 32px;
}
.msg {
  background-color: black;
}
