h3,input,select,button{
 font-family:"Montserrat";
}
h3{
 font-weight: bold;
}
.contact{
 display:flex;
 justify-content: space-around;
}
input,select,textarea,button{
 width: 90%;
 padding: 5px;
 margin-top: 10px;
 background-color: transparent;
 border-radius: 5px;
 border: grey 1px double;
}
.card-body .sub{ 
 display: flex;
 flex-direction: column;
 align-items: center;
 background-image: linear-gradient( 109.5deg,  rgba(229,233,177,1) 11.2%, rgba(223,205,187,1) 100.2% );

}
textarea{
 resize: none;
}
img{
 animation: mymove 1s;
 position: relative;
 animation-fill-mode: forwards;
 animation-timing-function: ease-in-out;
}
@keyframes mymove {
0%{ left: 0px; left: 100px;} 
50%{ left: 100px; left: 0px;}
100%{left: 0px; left: 100px;}
}

.cont {
 background-color: #F3E6E8;
 height: 100vh;
}



