app-header{
 color: black;
}

/* .container {
	transform-style: preserve-3d
} */

.box {
	position: relative;
	width: 300px;
	height: 300px;
	margin: 20px;
	transform-style: preserve-3d;
	perspective: 1000px;
	cursor: pointer
}

.box .body {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	transform-style: preserve-3d;
	transition: 0.9s ease
}

.box .body .imgContainer {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	transform-style: preserve-3d;
	border: 1px black;
	padding: 5%;
}

.box .body .imgContainer img {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: contain
}

.box .body .content {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-image: linear-gradient( 76.3deg,  rgba(44,62,78,1) 12.6%, rgba(69,103,131,1) 82.8% );
	
	backface-visibility: hidden;
	transform-style: preserve-3d;
	transform: rotateY(180deg)
}
.box:hover .body {
	transform: rotateY(180deg)
}

.box .body .content div {
	transform-style: preserve-3d;
	padding: 20px;
	background-image: linear-gradient( 109.5deg,  rgba(229,233,177,1) 11.2%, rgba(223,205,187,1) 100.2% );
	transform: translateZ(100px)
}
.box .body .content div h3 {
	letter-spacing: 1px
}
h3{
	font-family: "Montserrat";
}

section {
	background-color: #F3E6E8;
}
.stack{
	background-color: #121212;
	color: white;
	font-size:xx-small;
	
}
.back{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}


