<section id="sample" class="">
  <app-header></app-header>
 <h3 class="text-center pb-5">SAMPLE WORKS</h3>
 <div class="container d-flex align-items-center justify-content-center flex-wrap">
   <div class="box">
     <div class=" body">
       <div class="imgContainer"> <img src="assets/image1.png" alt=""> </div>
       <div class="content d-flex flex-column align-items-center justify-content-center">
        <div class="back">
          <h3 class="text-dark text-center fs-5">Tourism Website</h3>
          <a href="https://github.com/iamsajith/Kerala-Tourism" target="_blank"> <button type="button" class="btn btn-outline-secondary"><i class="fa-brands fa-github px-2"></i>View</button></a>
          <div class="d-flex justify-content-between align-items-center p-2">
            <p class="stack rounded mx-1 p-1">HTML</p>
            <p class="stack rounded mx-1 p-1">CSS</p>
            <p class="stack rounded mx-1 p-1">Javascript</p>
            <p class="stack rounded mx-1 p-1">Bootstrap</p>
          </div>
        </div>
       </div>
     </div>
   </div>
   <div class="box">
     <div class="body">
       <div class="imgContainer"> <img
           src="assets/image2.png" alt=""> </div>
       <div class="content d-flex flex-column align-items-center justify-content-center">
        <div class="back">
          <h3 class="text-dark text-center fs-5">Signup & Login-UI</h3>
          <a href="https://github.com/iamsajith/Auto-Doctor" target="_blank"> <button type="button" class="btn btn-outline-secondary"><i class="fa-brands fa-github px-2"></i>View</button></a>
          <div class="d-flex justify-content-between align-items-center p-2">
            <p class="stack rounded mx-1 p-1">HTML</p>
            <p class="stack rounded mx-1 p-1">CSS</p>
            <p class="stack rounded mx-1 p-1">Javascript</p>

          </div>
        </div>
       </div>
     </div>
   </div>
   <div class="box">
    <div class="body">
      <div class="imgContainer"> <img
          src="assets/image3.png" alt=""> </div>
      <div class="content d-flex flex-column align-items-center justify-content-center">
        <div class="back">
          <h3 class="text-dark text-center fs-5">RT Dashboard</h3>
          <a href="https://github.com/iamsajith/Auto-Doctor" target="_blank"> <button type="button" class="btn btn-outline-secondary"><i class="fa-brands fa-github px-2"></i>View</button></a>
          <div class="d-flex justify-content-between align-items-center p-2">
            <p class="stack rounded mx-1 p-1">HTML</p>
            <p class="stack rounded mx-1 p-1">CSS</p>
            <p class="stack rounded mx-1 p-1">Javascript</p>
            <p class="stack rounded mx-1 p-1">Firebase</p>

          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="box">
    <div class="body">
      <div class="imgContainer"> <img
          src="assets/image4.png" alt=""> </div>
      <div class="content d-flex flex-column align-items-center justify-content-center">
        <div class="back">
          <h3 class="text-dark text-center fs-5">Product List</h3>
          <a href="https://github.com/iamsajith/Product-List" target="_blank"> <button type="button" class="btn btn-outline-secondary"><i class="fa-brands fa-github px-2"></i>View</button></a>
          <div class="d-flex justify-content-between align-items-center p-2">
            <p class="stack rounded mx-1 p-1">Mongodb</p>
            <p class="stack rounded mx-1 p-1">ExpressJS</p>
            <p class="stack rounded mx-1 p-1">Angular</p>
            <p class="stack rounded mx-1 p-1">NodeJS</p>

          </div>
        </div>
      </div>
    </div>
  </div>
 </div>
</section>