<div class="container">
 <div class="row main">
  <div class="container col-md-12">
   <div class="row images p-2 rounded">
   <div class="col"><img src="https://cdn-icons-png.flaticon.com/512/1216/1216733.png?w=360" style="height:50px;" alt=""></div>
   <div class="col"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/a7/React-icon.svg/2300px-React-icon.svg.png" style="height: 50px;" alt=""></div>
   <div class="col"><img src="https://www.kindpng.com/picc/m/355-3557482_flutter-logo-png-transparent-png.png" style="height: 50px;" alt=""></div>
   <div class="col"><img src="https://www.kindpng.com/picc/m/464-4640184_css3-png-download-css-icon-transparent-png.png" style="height:60px" alt=""></div>
   <div class="col"><img src="https://www.kindpng.com/picc/m/67-678384_transparent-javascript-icon-png-png-download.png" style="height:60px" alt=""></div>
   <div class="col"><img src="https://angular.io/assets/images/logos/angular/angular.png" style="height:60px" alt=""></div>
   <div class="col"> <img src="https://www.kindpng.com/picc/m/225-2258787_bootstrap-4-logo-png-clipart-png-download-bootstrap.png" style="height:60px" alt=""></div>

   </div>
  </div>
  <div class="container col-md-12">
   <div class="row images p-2 rounded">
   <div class="col"><img src="https://cdn-icons-png.flaticon.com/512/1216/1216733.png?w=360" style="height:50px;" alt=""></div>
   <div class="col"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/a7/React-icon.svg/2300px-React-icon.svg.png" style="height: 50px;" alt=""></div>
   <div class="col"><img src="https://www.kindpng.com/picc/m/355-3557482_flutter-logo-png-transparent-png.png" style="height: 50px;" alt=""></div>
   <div class="col"><img src="https://www.kindpng.com/picc/m/464-4640184_css3-png-download-css-icon-transparent-png.png" style="height:60px" alt=""></div>
   <div class="col"><img src="https://www.kindpng.com/picc/m/67-678384_transparent-javascript-icon-png-png-download.png" style="height:60px" alt=""></div>
   <div class="col"><img src="https://angular.io/assets/images/logos/angular/angular.png" style="height:60px" alt=""></div>
   <div class="col"> <img src="https://www.kindpng.com/picc/m/225-2258787_bootstrap-4-logo-png-clipart-png-download-bootstrap.png" style="height:60px" alt=""></div>

   </div>
  </div>
  <div class="col-md-12"></div>
  <div class="col-md-12"></div>
 </div>
</div>
