.row .main{
 display: flex;
 flex-direction: column;

}
.col-md-12{
 margin: 1%;
}
.images{
 display: flex;
 justify-content: space-around;
 align-items: center;

}

img{
 height: auto;
 transition: 0.2s;
}
img:hover{
 transform: scale(1.5);
}

.hide{
 display: none;
 padding: 10%;
}

.col{
 text-align: center;
 padding: 2%;
}
h3{
 font-family:"Montserrat";
 font-weight:bold;
 text-align: center;
 padding: 2%;
}

